# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

/libyaml-cpp.a
/test/gtest-1.8.0/googlemock/gtest/libgtest.a
/test/gtest-1.8.0/googlemock/gtest/libgtest_main.a
/test/gtest-1.8.0/googlemock/libgmock.a
/test/gtest-1.8.0/googlemock/libgmock_main.a
/test/run-tests
/util/parse
/util/read
/util/sandbox
/yaml-cpp-config-version.cmake
/yaml-cpp-config.cmake
/yaml-cpp-targets.cmake
/yaml-cpp.pc
