language: cpp
before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y \
      && sudo apt-get update -qq \
      && if [ "$CXX" == "g++" ]; then
        sudo apt-get install -qq g++-4.7 && export CXX="g++-4.7" CC="gcc-4.7"
      fi
    fi
before_script:
  - mkdir build
  - cd build
  - cmake ..
script:
  - cmake --build .
  - test/run-tests

matrix:
  include:
  - os: linux
    compiler: gcc
  - os: osx
    compiler: clang
  - os: osx
    compiler: gcc
  - os: windows
    compiler: clang
